{% extends "base.html" %}
{% block title %}Biz haqimizda{% endblock %}

{% block content %}
<div class="content-box">
    <h1>Biz haqimizda</h1>
    <p>
        “Kiberto School” – zamonaviy texnologiyalar, ijod va intellektual rivojlanishni uyg‘unlashtirgan 
        xususiy ta’lim maskani. Biz o‘quvchilarga nafaqat darslikdagi bilimlarni, balki hayotiy ko‘nikmalarni 
        ham berishni o‘z oldimizga maqsad qilganmiz.
    </p>

    <p>
        Bizning jamoamiz malakali o‘qituvchilar, IT mutaxassislari va innovatsion fikrlovchi yosh rahbarlardan tashkil topgan.  
        Har bir bola bu yerda o‘z iqtidorini sinab ko‘radi va rivojlantiradi.
    </p>

    <img src="{{ url_for('static', filename='images/team.jpg') }}" 
         alt="Kiberto School jamoasi" class="page-image">

    <p style="text-align: center;">
        <a href="{{ url_for('clubs') }}" class="btn">To‘garaklar bilan tanishing</a>
    </p>
</div>
{% endblock %}
