{% extends "base.html" %}
{% block title %}Bosh sahifa{% endblock %}

{% block content %}
<div class="content-box">



    <h1>“Kiberto School”ga xush kelibsiz!</h1>


    <p>
        Bizning maktab – bolalar tafakkurini, iqtidorini va kreativ fikrlashini 
        rivojlantirishga qaratilgan innovatsion ta’lim maskani. 
        Har bir o‘quvchimiz o‘z iste’dodini kashf etish va uni 
        hayotda qo‘llash imkoniyatiga ega bo‘ladi.
    </p>

    <p>
        Dasturlash, robototexnika, san’at, sport va xorijiy tillarni o‘rgatish orqali 
        zamonaviy avlodni tarbiyalash – bizning maqsadimiz.
    </p>
	<img src="{{ url_for('static', filename='images/Kiber_fon.jpg') }}" 
         alt="Kiberto School maktabi" class="page-image">
    

    <p style="text-align: center;">
        <a href="{{ url_for('about') }}" class="btn">Biz haqimizda batafsil</a>
    </p>
</div>
{% endblock %}
